* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.header_nav {

    
}


.logo {
    width: 100px;
}

.navegacion {



}

.navegacion li {

}

.navegacion a {

}